.navbar {
    background-color: #002147;
    box-shadow: 0 8px 12px rgba(0,0,0,0.4);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: white;
  }
  
  .navbar-brand {
    font-weight: 700;
    font-size: 24px;
    color: white;
  }
  .navbar-brand:hover{
    color: white;

  }
  
  .nav-link {
    color: white;
    transform: scale(1);
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .nav-link:hover {
    color: #fff;
    transform: scale(1.1);
  }
  
  .navbar-toggler {
    border-color: white;
    color: #fff;
  }
  
  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(0,0,0,0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
  }
  
  @media (max-width: 991.98px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      color: #fff;
      background-color: #333;
      border-radius: 5px;
      margin: 5px;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link:hover {
      background-color: #fff;
    }
  }